body {
    background-image: url("../images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    color: #fff;
    padding: 1.6rem 0 2.5rem 0;
}

.error-firstname,
.error-lastname,
.error-email,
.error-pass {
    position: relative;
    left: 7.5rem;
    top: 1.95rem;
}

.error-firstname {
    top: 6.4rem;
}

.error-lastname {
    top: 11rem;
}

.error-email {
    top: 15.7rem;
}

.error-pass {
    top: 20.5rem;
}

.show {
    display: inherit;
}

.hide {
    display: none;
}

.firstlast-hidden-first {
    top: 8rem;
}

.firstmail-hidden-first {
    top: 12.7rem;
}

.firstpass-hidden-first {
    top: 17.5rem;
}

.lastfirst-hidden-first {
    top: 5rem;
}

.lastemail-hidden-first {
    top: 12.6rem;
}

.lastpassword-hidden-first {
    top: 17.5rem;
}

.emailfirst-hidden-first {
    top: 5rem;
}

.emaillast-hidden-first {
    top: 9.6rem;
}

.emailpass-hidden-first {
    top: 17.4rem;
}

.container,
.opening,
.trial,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opening,
.signup p,
.trial {
    text-align: center;
}

.intro-para {
    width: 75%;
    margin-bottom: 5rem;
}

.free {
    width: 55%;
    text-align: center;
    position: relative;
    left: 4rem;
}

.trial {
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 0 2.8rem 0 2.8rem;
}

.trial span {
    font-weight: bold;
}

.signup {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.signup p {
    width: 85%;
}

.terms,
.form-in {
    color: hsl(249, 10%, 26%);
}

.form-in {
    margin-bottom: 0.7rem;
}

.name-first,
.name-last,
.input-email,
.input-password,
.form-claim {
    padding: 0.6rem 5rem;
}

.form-claim {
    text-transform: uppercase;
    padding: 0.7rem 5.2rem;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
}

.terms {
    position: relative;
    left: 2rem;
}

a,
.error-first-msg,
.error-last-msg,
.error-email-msg,
.error-pass-msg {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}

.error-first-msg,
.error-last-msg,
.error-email-msg,
.error-pass-msg {
    position: relative;
    left: 8rem;
    bottom: 1.4rem;
}

@media(min-width: 1440px) {
    body {
        background-image: url("../images/bg-intro-desktop.png");
    }
    .container {
        flex-direction: row;
    }
    .opening {
        position: relative;
        top: 5rem;
        justify-content: flex-end;
        align-items: center;
    }
    .title {
        width: 35%;
    }
    .intro-para {
        width: 45%;
        text-align: left;
    }
    .free {
        width: 100%;
        left: 0.4rem;
    }
    .lower {
        position: relative;
        right: 7rem;
        top: 4rem;
        justify-content: center;
        align-items: center;
    }
}